# Ignore del frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.env

# Ignore del backend
backend/build/
backend/.gradle/
backend/.idea/
backend/target/
backend/src/main/resources/application.properties

# Archivos comunes
*.log
*.iml
.DS_Store
Thumbs.db